<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!--The content below is only a placeholder and can be replaced.-->
      <h1>Hola {{nombre}}</h1>
      <app-formulario [datos]="datos"></app-formulario>
      <router-outlet></router-outlet>
    </div>
    <div class="col">
      <app-lista [datos]="datos"></app-lista>
    </div>
    <div class="col">
      <app-lista [datos]="datos"></app-lista>
    </div>
    <div class="col">
      <app-lista [datos]="datos"></app-lista>
    </div>
  </div>
</div>