<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!--The content below is only a placeholder and can be replaced.-->
      <h1>Hola {{nombre}}</h1>
      <app-formulario-con-evento 
      #form
      (onSave)="save($event)"
      ></app-formulario-con-evento>
      <router-outlet></router-outlet> 
    </div>
    <div class="col">
      <app-lista [datos]="datos"></app-lista>
    </div>
    
  </div>
  <div class="row">
    <div class="col-4">
        <button class="btn btn-block btn-primary" (click)="form.ver()">ver</button>
    </div>
  </div>
</div>